.header {
    background: var(--gray-800);
    /* Para ficar alinhado vertical e horizontal */
    display: flex;
    justify-content: center;
    /* Distanciar o conteúdo em cima e em baixo */
    padding: 1.25rem 0;
}

.header img {
    height: 2rem;
}