/*seguir o nome das cores com o nome das cores mais o valor da tonalidade*/
:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
    --green-500: #00875f;
    --green-300: #00B37E;
}

/*Faz com que o padding, margin e o border do elemento nunca aumentem
sua largura e altura e sim espremam o elemento para dentro */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    /* aplica nos navegadores do webkit uma padronização para as fontes ficarem mais detalhadas */
    -webkit-font-smoothing: antialiased;
}

/*  não herdam as configuraçõe do body,
    interessante utilizar a unidade "rem" por ser relativa para que
    possa acompanhar o tamanho quando o usuário aumenta a fonte no sistema dele
*/
body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;

}